<div class="container mt-4">
    <div class="row">

        <div class="col-md-3">
            <label for="term"></label>
            <input [(ngModel)]="term"
                   (keyup)="search()"
                   name="term"
                   placeholder="name"
                   class="form-control">
            <hr>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div *ngFor="let artist of artists"
                     class="col-md-3 text-center">
                    <img [src]="artist.images | noimage " class="img-fluid img-thumbnail">
                    <p>{{artist.name}}</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>